<section class="next-site-nav">
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">World</h4>
    <div class="next-site__item__wrapper">
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img01.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Lil Frog</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img02.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">REJOUICE速</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img03.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Emmpo</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">Landing Page</h4>
    <div class="next-site__item__wrapper">
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img01.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Lil Frog</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img02.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">REJOUICE速</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img03.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Emmpo</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">Smartphone</h4>
    <div class="next-site__item__wrapper">
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img01.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Lil Frog</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img02.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">REJOUICE速</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img03.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Emmpo</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">webclips</h4>
    <div class="next-site__item__wrapper">
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img01.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Lil Frog</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img02.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">REJOUICE速</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
      <a href="" class="next-site__item__link">
        <div class="next-site__item">
          <img
            src="images/item__img03.webp"
            alt=""
            width="120"
            height="80"
            class="item__img"
          />
          <div class="next-site__text">
            <p class="item__title">Emmpo</p>
            <time datetime="2025-02-20">2025.2.20</time>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
