<!-- Smartphone -->
<section id="section-smartphone" class="tab-content">
  <div class="section-japan__contents">
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img01.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img02.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img03.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img04.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img05.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img06.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img01.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img02.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img03.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img04.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img05.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
    <div class="content__wrapper">
      <a href="#" class="content__link">
        <img
          src="images/japan-img06.webp"
          alt=""
          class="content__img"
          width="350"
          height="229"
        />
        <div class="hover-text">
          <time datetime="2025-02-20">Feb 20,2025</time>
          <div class="content__category">
            <span>CATEGORY</span>
            <p>企業サイト・事務所・ビジネス</p>
          </div>
        </div>
      </a>
      <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
      <p class="content__url">https://sample.co.jp/</p>
    </div>
  </div>
</section>
