.entry-detail__wrapper {
  max-width: 1050px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3vw;
  gap: 3vw;
  box-sizing: border-box;
  @media screen and (max-width: 860px) {
    flex-direction: column;
    gap: 5vh;
  }
  .entry-detail {
    width: 100%;
    display: block;
    color: #333;
    letter-spacing: 0.075em;
    line-height: 1.4em;
    @media screen and (max-width: 1050px) {
      width: 70%;
    }
    @media screen and (max-width: 860px) {
      width: 100%;
    }
    .entry-detail__img {
      width: 100%;
      display: flex;
      margin: 0 auto 2rem 0;
      @media screen and (max-width: 860px) {
        margin: 0 auto 2rem;
      }
    }
    .entry-detail__main {
      display: flex;
      flex-direction: column;
      align-items: left;
      .entry-detail__title {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }
      .entry-detai__url,
      .entry-detail__desc {
        font-size: 0.78rem;
        margin-bottom: 0.3rem;
      }
    }
    .entry-detail__sns-nav {
      display: flex;
      padding-block: 3rem 2rem;
      margin-bottom: 1rem;
      gap: 1.2rem;
      color: #f3f0ea;
      @media screen and (max-width: 860px) {
        padding-block: 2rem 1rem;
        gap: 1rem;
      }
      li {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #555;
      }
      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .entry-detail__tag {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 3rem;
      @media screen and (max-width: 860px) {
        margin-bottom: 0;
      }
      .tag {
        display: inline-block;
        padding: 0.5rem 1rem;
        font-size: 11px;
        border-radius: 4px;
        background-color: #f3f0e9;
        color: #333;
      }
    }
  }

  /* similar site */
  .similar-site {
    display: block;
    @media screen and (max-width: 860px) {
      width: 100%;
    }
    .next-site__item__link:nth-of-type(n + 4) {
      @media screen and (max-width: 860px) {
        display: none;
      }
    }
    .next-site__item__link {
      width: 50%;
      height: auto;
    }
    .next-site__title {
      margin-top: 0;
    }
  }
}
