/* hamburger */
.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 150;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ホバー時の円形背景 */
.hamburger::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f0f0f0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.hamburger:hover::before {
  opacity: 0.1;
}
.hamburger.is-active {
  right: -28%;
}
.hamburger.is-active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
}
.hamburger span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: #f3f0ea;
  transition: transform 0.3s;
}
.hamburger span:nth-child(1) {
  top: 23%;
}
.hamburger span:nth-child(2) {
  top: 50%;
}
.hamburger span:nth-child(3) {
  top: 77%;
}

/* drawer */
/* mainコンテンツのトランジション設定 */
main {
  width: 100%;
  transition: transform 0.5s ease;
}
main.drawer-active {
  transform: translateX(-30%);
}
.drawer {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 130;
  width: 30%;
  height: 100%;
  background: #505050;
  color: #f3f0ea;
  transform: translateX(100%); /* 初期状態では右に隠す */
  transition: transform 0.5s ease, visibility 0.3s, opacity 0.3s;
}
.drawer.is-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(100%); /* アクティブ時に表示位置まで移動 */
}
.drawer__inner {
  display: flex;
  flex-direction: column;
}
.drawer__menu {
  font-size: 14px;
  letter-spacing: 0.2rem;
  padding: 2rem;
}
.drawer__search-nav {
  margin-bottom: 3rem;
  form {
    width: 100%;
    height: auto;
    display: flex;
    #search-input {
      width: 100%;
      background: #545454;
      color: #f3f0ea;
      padding: 1rem;
    }
    .drawer__search-button {
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #434343;
      .seach_icon__img {
        padding: 2rem;
      }
    }
  }
}
.drawer__nav {
  .tabs {
    background: #505050;
    color: #f3f0ea;
    li {
      width: 100%;
    }
    .tab {
      width: 100%;
      color: #f3f0ea;
    }
    .tab:hover {
      background: #505050;
      color: #fff;
    }
    .tab.active {
      border: none;
      background: #434343;
    }
  }
  #drawer__tab-category {
    height: auto;
  }
  .tab-contents {
    display: block;
    background: #505050;
    .drawer__tab-category-list {
      padding-block: 1.5rem;
      margin-inline: 1.5rem;
      position: relative;
    }
    .drawer__tab-category-list::after {
      display: block;
      content: "";
      position: absolute;
      width: 90%;
      height: 1px;
      bottom: -1rem;
      left: 1.5rem;
      background: #fff;
    }
    li {
      font-size: 13px;
      letter-spacing: 0.1rem;
      padding-block: 1rem;
      padding-inline: 1.5rem;
      position: relative;
      overflow: hidden;
      transition: filter 0.3s ease;
    }
    li::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #434343;
      transition: left 0.3s ease;
      z-index: -1;
    }
    li:hover {
      filter: brightness(1.2);
    }
    li:hover::before {
      left: 0; /* 背景を左から右へ */
    }
  }
  .drawer__site-discription {
    font-size: 13px;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    padding-block: 4rem 5rem;
    padding-inline: 3rem;
  }
  .tab-content.active {
    background: #434343;
  }
  #drawer__tab-tag {
    padding-block: 1.5rem;
  }
  .drawer__tag__category {
    font-size: 17px;
    margin: 1.5rem;
    position: relative;
  }
  .drawer__tag__category::before {
    display: block;
    position: absolute;
    content: "";
    bottom: -1rem;
    width: 100%;
    height: 0.3px;
    background: #bbb;
    opacity: 0.5;
  }
  .tag-list li {
    padding-block: 1rem;
  }
}
