body {
  width: 100%;
  height: auto;
  background: #e9e5df;
  color: #242424;
  font-weight: 300;
}
header {
  width: 100%;
  background: #434343;
  color: #f3f0ea;
  .header__sub-title {
    font-size: 11px;
    letter-spacing: 0.08em;
    padding: 2rem;
  }
  .header__title {
    font-size: 16px;
    letter-spacing: 0.03em;
    padding: 2rem 0 2rem 2rem;
  }
}
/* タブのスタイル */
.tabs {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: #f3f0ea;
}
.tab {
  font-size: 12px;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
.tab-contents {
  position: relative;
}
.tab.active {
  border-bottom: 1px solid #242424;
}
.tab:hover {
  background: #f5f5f5;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
  padding: 0;
}

/* section */
.section-content {
  width: 100%;
  display: block;

  .section-content__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 350px); /* 固定幅350pxで3カラム */
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    margin: 5rem auto;
    justify-content: center;
    @media screen and (min-width: 1600px) {
      grid-template-columns: repeat(4, 350px);
    }
    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(2, 300px);
    }
    @media screen and (max-width: 660px) {
      grid-template-columns: repeat(1, 300px);
    }
  }
  .content__wrapper {
    width: 350px;
    display: block;
    background: #f5f5f5;
    color: #666666;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1220px) {
      width: 300px;
    }
    .content__link {
      position: relative;
      display: block;
      overflow: hidden;
    }
    .content__img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }
    .hover-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.7rem;
      opacity: 0;
      transition: opacity 0.3s ease;
      time {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 0.7rem;
      }
      .content__category {
        font-size: 10px;
        align-self: flex-start;
        margin-top: auto;
        margin-bottom: 0.7rem;
        .tag {
          display: block;
          font-size: 12px;
          margin-top: 0.7rem;
        }
      }
    }
    .content__link:hover .content__img {
      transform: scale(1.1);
    }

    .content__link:hover .hover-text {
      opacity: 0.9;
    }
    .content__title {
      font-size: 13px;
      padding: 1rem 1.2rem 0.8rem;
    }
    .content__url {
      font-size: 10px;
      padding-inline: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  /* Splideのカスタマイズ */
  .splide {
    margin: 2rem 0;
    position: relative;
    visibility: initial;
  }

  .splide__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    position: relative;
  }

  /* 矢印ボタンのポジショニング */
  .splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  .splide__pagination__page,
  .splide__arrow {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #666;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  /* アクティブなページ番号のスタイル */
  .splide__pagination__page.is-active {
    background-color: #666;
    color: white;
    transform: scale(1);
    opacity: 1;
  }

  /* ホバー効果 */
  .splide__pagination__page:hover:not(.is-active),
  .splide__arrow:hover {
    background-color: #e0e0e0;
  }
}

/* footer */
footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #434343;
  color: #f3f0ea;
  letter-spacing: 0.08em;
}
.footer__sns-nav {
  display: flex;
  padding-block: 3rem 2rem;
  margin-bottom: 1rem;
  gap: 1.2rem;
  li {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #555;
  }
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}
.footer__site-nav {
  display: flex;
  font-size: 12px;
  gap: 3rem;
  margin-bottom: 4rem;
}
.footer__site-title {
  font-size: 10px;
  margin-bottom: 2.2rem;
}
small {
  font-size: 8px;
  margin-bottom: 3.8rem;
}
