<section id="next-site-nav">
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">World</h4>
    <div class="next-site__item__wrapper">
    {# nextSiteNavセクションからエントリーを取得 #}
      {% set nextNavEntries = craft.entries()
      .section('nextSiteNav')
      .limit(3)
      .all() %}
     {% for entry in nextNavEntries|slice(0, 3) %}
        {% include "_next-site-nav/_next-site_detail.twig" with { entry: entry } %}
     {% endfor %}
    </div>
  </div>
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">Landing Page</h4>
    <div class="next-site__item__wrapper">
    {# nextSiteNavセクションからエントリーを取得 #}
      {% set nextNavEntries = craft.entries()
      .section('nextSiteNav')
      .limit(3)
      .all() %}
     {% for entry in nextNavEntries|slice(0, 3) %}
        {% include "_next-site-nav/_next-site_detail.twig" with { entry: entry } %}
     {% endfor %}
    </div>
  </div>
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">Smartphone</h4>
    <div class="next-site__item__wrapper">
    {# nextSiteNavセクションからエントリーを取得 #}
      {% set nextNavEntries = craft.entries()
      .section('nextSiteNav')
      .limit(3)
      .all() %}
     {% for entry in nextNavEntries|slice(0, 3) %}
        {% include "_next-site-nav/_next-site_detail.twig" with { entry: entry } %}
     {% endfor %}
    </div>
  </div>
  <div class="next-site-nav-wrapper">
    <h4 class="next-site__title">webclips</h4>
    <div class="next-site__item__wrapper">
    {# nextSiteNavセクションからエントリーを取得 #}
      {% set nextNavEntries = craft.entries()
      .section('nextSiteNav')
      .limit(3)
      .all() %}
     {% for entry in nextNavEntries|slice(0, 3) %}
        {% include "_next-site-nav/_next-site_detail.twig" with { entry: entry } %}
     {% endfor %}
    </div>
  </div>
</section>
