<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webデザイン制作の参考になる海外のWebデザインギャラリー・クリップ集">

    <title>
      {% if pageTitle is defined %}{{ pageTitle }} - {% endif %}WebDesignClip
    </title>

    {# CSS #}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="{{ bodyClass is defined ? bodyClass : '' }}">
    {# メインコンテンツ #}
    <main>
      {% block content %} 
      {% endblock %}
    </main>

    {# JavaScript #}
    <script src="/js/tab.js"></script>
  </body>
</html>
