<footer>
  <ul class="footer__sns-nav">
    <li>
      <a href="#" class="sns__fb" target="_blank" aria-label="facebook">
        <img
          src="images/sns01.svg"
          alt=""
          width="15"
          height="15"
          class="sns__fb-logo"
      /></a>
    </li>
    <li>
      <a href="#" class="sns__x" target="_blank" aria-label="x">
        <img
          src="images/sns02.svg"
          alt=""
          width="15"
          height="15"
          class="sns__fb-logo"
      /></a>
    </li>
    <li>
      <a href="#" class="sns__ht" target="_blank" aria-label="hatena">
        <img
          src="images/sns03.webp"
          alt=""
          width="32"
          height="32"
          class="sns__fb-logo"
      /></a>
    </li>
    <li>
      <a href="#" class="sns__fd" target="_blank" aria-label="feedly">
        <img
          src="images/sns04.svg"
          alt=""
          width="15"
          height="15"
          class="sns__fb-logo"
      /></a>
    </li>
  </ul>
  <nav class="footer__nav">
    <ul class="footer__site-nav">
      <li><a href="#" class="about">サイトについて</a></li>
      <li><a href="#" class="recommend">サイト推薦</a></li>
      <li><a href="#" class="pp">プライバシーポリシー</a></li>
      <li><a href="#" class="contact">お問い合わせ</a></li>
    </ul>
  </nav>
  <p class="footer__site-title">
    Webデザイン制作の参考になる日本のWebデザイン集
  </p>
  <small>Copyright © webdesignclip All Rights Reserved.</small>
</footer>
