<header>
    <h2 class="header__sub-title">
        Webデザイン制作の参考になる海外のWebデザインギャラリー・クリップ集
    </h2>
    <h1 class="header__title">WebDesignClip</h1>
    <!-- ハンバーガーメニュー -->
    <div class="hamburger js-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- ドロワーメニュー -->
    <div class="drawer js-drawer">
        <div class="drawer__inner">
            <h3 class="drawer__menu">MENU</h3>
            <div class="drawer__search-nav">
                <form role="search" aria-label="サイト内検索">
                    <label for="search-input"></label>
                    <input 
                        type="search" 
                        id="search-input" 
                        name="q" 
                        placeholder="キーワード検索"
                        aria-label="サイト内検索">
                    <button type="submit" class="drawer__search-button">
                        <img src="/images/search_icon.svg" alt="検索ボタン" width="15" height="15" class="drawer__search_icon__img" aria-hidden="true">
                    </button>
                </form>
            </div>
            <!-- タブボタン -->
            <nav class="drawer__nav">
                <ul class="tabs drawer__tabs" role="tablist">
                    <li role="presentation">
                      <button type="button" class="tab active" data-tab="drawer__tab-category" role="tab" aria-selected="true">Category</button>
                    </li>
                    <li role="presentation">
                      <button type="button" class="tab" data-tab="drawer__tab-tag" role="tab" aria-selected="false">Tag</button>
                    </li>
                </ul>
                <!-- タブコンテンツ -->
                <div class="tab-contents">
                    <div id="drawer__tab-category" class="tab-content active" role="tabpanel" aria-labelledby="category-tab">
                        <ul class="drawer__tab-category-list">
                            <li><a href="">アパレル・ファッション</a></li>
                            <li><a href="">インテリア・雑貨</a></li>
                            <li><a href="">ウェディング・結婚</a></li>
                            <li><a href="">デザイン事務所・制作会社</a></li>
                            <li><a href="">写真・イラスト</a></li>
                            <li><a href="">学校・教育</a></li>
                            <li><a href="">建築・住宅</a></li>
                            <li><a href="">情報・WEBサービス</a></li>
                            <li><a href="">旅行・交通</a></li>
                            <li><a href="">美容・健康</a></li>
                            <li><a href="">自転車・バイク</a></li>
                            <li><a href="">食品・飲料</a></li>
                        </ul>
                        <p class="drawer__site-discription">
                        WebDesignClipはホームページ・Webデザイン制作の参考となるクリエイティブの高いおしゃれな日本のWebサイトのリンク集です。 Webデザイナー・開発の方々などのインスピレーションを刺激するような、最新のトレンドをおさえた、おしゃれなWebデザインをクリップしています。 掲載しているWebデザインはキーワード・業種(カテゴリー)・カラー・レイアウトなどから、絞り込みすることができます。</p>
                    </div>
                    <div id="drawer__tab-tag" class="tab-content" role="tabpanel" aria-labelledby="tag-tab">
                        <h4 class="drawer__tag__category">Integration / Technology</h4>
                            <ul class="tag-list">
                                <li><a href="">GSAP</a></li>
                            </ul>
                        <h4 class="drawer__tag__category">Type / Layout</h4>
                            <ul class="tag-list">
                                <li><a href="">レスポンシブWebデザイン</a></li>
                                <li><a href="">プロモーションサイト</a></li>
                            </ul>
                        <h4 class="drawer__tag__category">Taste / Style</h4>    
                            <ul class="tag-list">
                                <li><a href="">シンプル</a></li>
                                <li><a href="">ポップ</a></li>
                            </ul> 
                        <h4 class="drawer__tag__category">Design / Elements</h4>    
                            <ul class="tag-list">
                                <li><a href="">Webフォント</a></li>
                                <li><a href="">グラデーション</a></li>
                                <li><a href="">イラスト</a></li>
                                <li><a href="">写真</a></li>
                                <li><a href="">商品/製品イメージ</a></li>
                            </ul>
                        <p class="drawer__site-discription">
                        WebDesignClipはホームページ・Webデザイン制作の参考となるクリエイティブの高いおしゃれな日本のWebサイトのリンク集です。 Webデザイナー・開発の方々などのインスピレーションを刺激するような、最新のトレンドをおさえた、おしゃれなWebデザインをクリップしています。 掲載しているWebデザインはキーワード・業種(カテゴリー)・カラー・レイアウトなどから、絞り込みすることができます。</p>    
                    </div>
                </div>
            </nav> 
        </div>
    </div>
</header>