<header>
    <h2 class="header__sub-title">
        Webデザイン制作の参考になる海外のWebデザインギャラリー・クリップ集
        </p>
        <h1 class="header__title">WebDesignClip</h1>
        <!-- ハンバーガーメニュー -->
    <div class="hamburger js-hamburger sp-show">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- ドロワーメニュー -->
    <div class="drawer js-drawer">
        <div class="drawer-inner">
            <div class="drawer__nav">
            <ul class="drawer__list">
                <li class="drawer__item">
                <a href="#" class="drawer__link">Home</a>
                </li>
                <li class="drawer__item">
                <a href="#about" class="drawer__link">About</a>
                </li>
                <li class="drawer__item">
                <a href="#works" class="drawer__link">Works</a>
                </li>
                <li class="drawer__item">
                <a href="#service" class="drawer__link">Service</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</header>