<header>
    <h2 class="header__sub-title">
        Webデザイン制作の参考になる海外のWebデザインギャラリー・クリップ集
        </p>
        <h1 class="header__title">WebDesignClip</h1>
        <!-- ハンバーガーメニュー -->
    <div class="hamburger js-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- ドロワーメニュー -->
    <div class="drawer js-drawer">
        <div class="drawer-inner">
            <div class="drawer__nav">
        
            </div>
        </div>
    </div>
</header>