<!-- タブボタン -->
<nav class="header__nav">
  <ul class="tabs">
    <li class="tab active" data-tab="section-japan">Japan</li>
    <li class="tab" data-tab="section-world">World</li>
    <li class="tab" data-tab="section-landingPage">Landing Page</li>
    <li class="tab" data-tab="section-smartphone">Smartphone</li>
  </ul>
</nav>
