<!-- タブボタン -->
<nav class="header__nav">
  <ul class="tabs">
    <li role="presentation">
      <button type="button" class="tab active" data-tab="section-japan" role="tab" aria-selected="true">Japan</button>
    </li>
    <li role="presentation">
      <button type="button" class="tab" data-tab="section-world" role="tab" aria-selected="false">World</button>
    </li>
    <li role="presentation">
      <button type="button" class="tab" data-tab="section-landingPage" role="tab" aria-selected="false">Landing Page</button>
    </li>
    <li role="presentation">
      <button type="button" class="tab" data-tab="section-smartphone" role="tab" aria-selected="false">Smartphone</button>
    </li>
  </ul>
</nav>