<!-- タブボタン -->
<nav class="header__nav">
  <ul class="tabs">
    <li class="tab active" data-tab="section-japan">Japan</li>
    <li class="tab" data-tab="section-world">World</li>
    <li class="tab" data-tab="section-landingPage">Landing Page</li>
    <li class="tab" data-tab="section-smartphone">Smartphone</li>
  </ul>
</nav>

<!-- タブコンテンツ -->
<div class="tab-contents">
  <div id="section-japan" class="tab-content active">
    {# Japanコンテンツ #}
  </div>
  <div id="section-world" class="tab-content">
    {# Worldコンテンツ #}
  </div>
  <div id="section-landingPage" class="tab-content">
    {# Landing Pageコンテンツ #}
  </div>
  <div id="section-smartphone" class="tab-content">
    {# Smartphoneコンテンツ #}
  </div>
</div>