<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>WebDesignClip</title>
  </head>
  <body>
    <header>
      <h2 class="header__sub-title">
        Webデザイン制作の参考になる海外のWebデザインギャラリー・クリップ集
      </p>
      <h1 class="header__title">WebDesignClip</h1>
    </header>
    <!-- タブボタン -->
    <nav>
      <ul class="tabs">
        <li class="tab active" data-tab="section-japan">Japan</li>
        <li class="tab" data-tab="section-world">World</li>
        <li class="tab" data-tab="section-landingPage">Landing Page</li>
        <li class="tab" data-tab="section-smartphone">Smartphone</li>
      </ul>
    </nav>

    <!-- japan -->
    <section id="section-japan" class="tab-content active">
      <div class="section-japan__contents">
        <div class="content__wrapper">
          <img src="images/japan-img01.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div> 
        <div class="content__wrapper">
          <img src="images/japan-img02.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>  
        <div class="content__wrapper">
          <img src="images/japan-img03.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>   
        <div class="content__wrapper">
          <img src="images/japan-img04.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>  
        <div class="content__wrapper">
          <img src="images/japan-img05.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>  
        <div class="content__wrapper">
          <img src="images/japan-img06.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>
        <div class="content__wrapper">
          <img src="images/japan-img01.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div> 
        <div class="content__wrapper">
          <img src="images/japan-img02.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>  
        <div class="content__wrapper">
          <img src="images/japan-img03.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>   
        <div class="content__wrapper">
          <img src="images/japan-img04.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>  
        <div class="content__wrapper">
          <img src="images/japan-img05.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>  
        <div class="content__wrapper">
          <img src="images/japan-img06.webp" alt="" class="content__img" width="350" height="229">
          <h3 class="content__title"><a href="#">Japan-sample</a></h3>
          <p class="content__url">https://sample.co.jp/</p>
        </div>      
      </div>
    </section>

    <!-- world -->
    <section id="section-world" class="tab-content">
        <div class="section-japan__contents">
            <div class="content__wrapper">
              <img src="images/japan-img01.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">World-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div> 
            <div class="content__wrapper">
              <img src="images/japan-img02.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">World-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div>  
            <div class="content__wrapper">
              <img src="images/japan-img03.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">World-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div>   
            <div class="content__wrapper">
                <img src="images/japan-img04.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">World-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>  
              <div class="content__wrapper">
                <img src="images/japan-img05.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">World-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>  
              <div class="content__wrapper">
                <img src="images/japan-img06.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">World-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>     
          </div>
    </section>

    <!-- Landing Page -->
    <section id="section-landingPage" class="tab-content">
        <div class="section-japan__contents">
            <div class="content__wrapper">
              <img src="images/japan-img01.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">Landing-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div> 
            <div class="content__wrapper">
              <img src="images/japan-img02.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">Landing-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div>  
            <div class="content__wrapper">
              <img src="images/japan-img03.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">Landing-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div>   
            <div class="content__wrapper">
                <img src="images/japan-img04.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">Landing-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>  
              <div class="content__wrapper">
                <img src="images/japan-img05.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">Landing-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>  
              <div class="content__wrapper">
                <img src="images/japan-img06.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">Landing-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>     
          </div>
    </section>

    <!-- Smartphone -->
    <section id="section-smartphone" class="tab-content">
        <div class="section-japan__contents">
            <div class="content__wrapper">
              <img src="images/japan-img01.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div> 
            <div class="content__wrapper">
              <img src="images/japan-img02.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div>  
            <div class="content__wrapper">
              <img src="images/japan-img03.webp" alt="" class="content__img" width="350" height="229">
              <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
              <p class="content__url">https://sample.co.jp/</p>
            </div>   
            <div class="content__wrapper">
                <img src="images/japan-img04.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>  
              <div class="content__wrapper">
                <img src="images/japan-img05.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>  
              <div class="content__wrapper">
                <img src="images/japan-img06.webp" alt="" class="content__img" width="350" height="229">
                <h3 class="content__title"><a href="#">Smartphone-sample</a></h3>
                <p class="content__url">https://sample.co.jp/</p>
              </div>     
          </div>
    </section>
    <footer>
      <ul class="footer__sns-nav">
        <li><a href="#" class="sns__fb" target="_blank" aria-label="facebook"></a></li>
        <li><a href="#" class="sns__x" target="_blank" aria-label="x"></a></li>
        <li><a href="#" class="sns__ht" target="_blank" aria-label="hatena"></a></li>
        <li><a href="#" class="sns__fd" target="_blank" aria-label="feedly"></a></li>
      </ul>
    </footer>

    <script>
      // タブ切り替えの処理
      document.querySelectorAll(".tab").forEach((tab) => {
        tab.addEventListener("click", () => {
          // アクティブなタブとコンテンツを非表示に
          document
            .querySelectorAll(".tab.active, .tab-content.active")
            .forEach((el) => el.classList.remove("active"));

          // クリックされたタブとそれに対応するコンテンツを表示
          tab.classList.add("active");
          document.getElementById(tab.dataset.tab).classList.add("active");
        });
      });
    </script>
  </body>
</html>