{% extends "_layouts/main.twig" %} 

{% set bodyClass = 'home' %} 
{% set pageTitle = 'WebDesignClip' %} 

{% block content %}
    {# ヘッダー #}
    {% include "_components/_header.twig" %}

    {# タブナビゲーション #} 
    {% include "_components/_tab.twig" %} 

    {# 各セクション #}
    <div class="tab-contents">
        <div id="section-japan" class="tab-content active">
            {% include "_section/_japan.twig" %}
        </div>
        <div id="section-world" class="tab-content">
            {% include "_section/_world.twig" %}
        </div>
        <div id="section-landingPage" class="tab-content">
            {% include "_section/_landingPage.twig" %}
        </div>
        <div id="section-smartphone" class="tab-content">
            {% include "_section/_smartphone.twig" %}
        </div>
    </div>

    {# 次のサイトへのナビゲーション #}
    {% include "_next-site-nav/_next-site_index.twig" %}

    {# フッター #}
    {% include "_components/_footer.twig" %}
{% endblock %}
