{% extends "layouts/main.twig" %} 

{% set bodyClass = 'webdesign-clip' %} 
{% set pageTitle = 'WebDesignClip' %} 

{% block content %}
    {# ヘッダー #}
    {% include "_components/_header.twig" %}

    {# タブナビゲーション #} 
    {% include "_components/_tab.twig" %} 

    {# 各セクション #}
    <div class="tab-contents">
        {% include "_sections/_japan.twig" %} 
        {% include "_sections/_world.twig" %} 
        {% include "_sections/_landingPage.twig" %} 
        {% include "_sections/_smartphone.twig" %}
    </div>

    {# 次のサイトへのナビゲーション #}
    {% include "_components/_next-site-nav.twig" %}

    {# フッター #}
    {% include "_components/_footer.twig" %}
{% endblock %}
