{% extends "_layouts/main.twig" %} 

{% set bodyClass = 'webdesign-clip' %} 
{% set pageTitle = 'WebDesignClip' %} 

{% block content %}
    {# ヘッダー #}
    {% include "_components/_header.twig" %}

    {# タブナビゲーション #} 
    {% include "_components/_tab.twig" %} 

    {# 各セクション #}
    <div class="tab-contents">
        {% include "_section/_japan.twig" %} 
        {% include "_section/_world.twig" %} 
        {% include "_section/_landingPage.twig" %} 
        {% include "_section/_smartphone.twig" %}
    </div>

    {# 次のサイトへのナビゲーション #}
    {% include "_components/_next-site-nav.twig" %}

    {# フッター #}
    {% include "_components/_footer.twig" %}
{% endblock %}
