<section id="section-landingPage" class="tab-content section-content">
    {% set landingPageEntries = craft.entries()
        .section('sectionLandingPage')
        .type('entrycontent')
        .all() %}

    {# Splideスライダーの実装 #}
    <div class="splide" id="section-splide">
        <div class="splide__track">
            <div class="splide__list">
                {# 1ページ目 #}
                <div class="splide__slide">
                    <div class="section-content__grid">
                        {% for entry in landingPageEntries|slice(0, 12) %}
                            {% include "_entry/_index.twig" with { entry: entry } %}
                        {% endfor %}
                    </div>
                </div>

                {# 2ページ目 #}
                <div class="splide__slide">
                    <div class="section-content__grid">
                        {% for entry in landingPageEntries|slice(12, 12) %}
                            {% include "_entry/_index.twig" with { entry: entry } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>