<section id="section-smartphone" class="tab-content section-content">
    {% set japanEntries = craft.entries()
        .section('sectionJapan')
        .type('entrycontent')
        .all() %}

    {# Splideスライダーの実装 #}
    <div class="splide" id="section-splide">
        <div class="splide__track">
            <div class="splide__list">
                {# 1ページ目 #}
                <div class="splide__slide">
                    <div class="section-content__grid">
                        {% for entry in japanEntries|slice(0, 12) %}
                            {% include "_entry/_index.twig" with { entry: entry } %}
                        {% endfor %}
                    </div>
                </div>

                {# 2ページ目 #}
                <div class="splide__slide">
                    <div class="section-content__grid">
                        {% for entry in japanEntries|slice(12, 12) %}
                            {% include "_entry/_index.twig" with { entry: entry } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {# Splideのページネーション #}
        <div class="splide__pagination"></div>
    </div>
</section>